<app-header></app-header>
<!--<h1>First App Angular</h1>
<h2> {{ title }} </h2>
<p>{{ 2+1 }}</p>

<img [src]="imgURL" alt="">

<!--button disabled
<br/>
<br/>

<button disabled="{{isDisabled}}">Envoyer</button>
<br/>
<br/>
<button [disabled]="isDisabled">Envoyer</button>

<!--class binding
<br/>
<br/>
<button 
[class.active]="isActive" style 
[class.n-active]="!isActive" 
 [class.active-border]="isActive"
 [class.n-active-border]="!isActive"
 > click here </button>
 <br/>
 <br/>
 <!--styles binding
 <button [class.apple]="fruitName=='Apple'" >Fruit Ninja</button>
 <!--style binding
 <br/>
 <br/>
 <button 
 [style.backgroundColor]=" isActive? 'red': 'green' "
 [style.border]=" isActive? '3px solid yellow ' : '' "
 >Click</button>
 <br/>
 <br/>
 <!--class binding

 <button [class.active]="isActive">Valider</button>
 <br/>
 <br/>
 <!--Event binding
 <button (mouseover)="buttonClick()">Click Me</button>
 <br/>
 <br/>
 <input type="text" (keyup)="KeyEnter($event)">
 <!--filtering binding
 <br/>
 <br/>
 <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput">
 <br/>
 <br/>
 <!--two way data binding
 <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)">
 <br/>
 <br/>
 <input type="text" [(ngModel)]="userName" >
 <br/>
 <br/>
 <h3>{{userName}}</h3>
 <!--one-way and two-way Data Binding
 <input type="text" [value]= 'textValue' (keyup.enter) = 'onKeyup()'>

 <!--one-way ngModel
 <input type="text" [(ngModel)] = 'textValue'  (keyup.enter) = 'onKeyup()'>-->

 <h2 *ngIf="isLoggedIn; else message" >{{ UserName }}</h2>

 <h4 *ngIf="!isLoggedIn" >User is not logged in </h4>
 <ng-template #message>
    <h4>User is not logged in (loaded using ng-template)</h4>
 </ng-template>
 
<!--new way-->
 
 @if (isLoggedIn) {
    <h3>{{  UserName  }}</h3>
}
@else {
    <h4>User is not logged in (loaded using if else syntax block)</h4> 
}
@if (!isLoggedIn) {
    <h4>User is not logged in (loaded using if syntax block)</h4>
}
<h4>Welcome Guest</h4>
 <!--if directive with number Values-->
 <button (click)="countLoginAttempts()">Log In</button>