<!--
<main>
    <h1>Formulaire d'inscription</h1>
    <input type="text" name="" placeholder="tapez le nom ">
    <br>
    <br>
    <input type="text" name="" placeholder="tapez le prenom ">
    <br>
    <br>
    <input type="text" name="" placeholder="tapez numero d'acte de naissance">
    <br>  <br>
    <input type="text" name="" placeholder="tapez numero de telephone">
    <br>  <br>
    <input type="text" name="" placeholder="tapez le mail">
    <br>  <br>
    <input type="text" name="" placeholder="tapez l'adress">
</main>
-->
